{% extends 'base.html' %}
{% block content %}
<body style="background: rgba(216, 202, 202, 0.678);">
<h1 class="text-center">
  <a href="{% url 'index' %}" class="btn btn-outline-secondary hhhru">
    <i class="fa fa-arrow-left"></i>
  </a>
  На Главную
</h1>
<hr>
<div class="card text-white bg-dark mb-3" style="max-width: 25rem; margin: 0 auto;">
    <div class="card-header" style="text-align: center;">создать</div>
      <div class="card-body">
        <form action="{% url 'student_create' %}" method="POST">
          {% csrf_token %}
          <p>
            <label for="">
              Имя Фамилия
            </label>
            <input type="text" value="{{student.name}}" required class="form-control" name="name" id="name" placeholder="Имя Фамилия" value="{{tree.latitude}}">
          </p>
          <p>
            <label for="">
              Выберите Группу
            </label>
            <select name="group" class="select2 form-control">
              {% for group in groups %}
              <option{% if student.group.id == group.id %} selected {% endif %} value="{{group.id}}" >
                {{group.title}}
              </option>
              {% endfor %}
            </select>
          </p>
          <button type="submit" class="btn btn-success">создать</button>
        </form> 
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('.select2').select2();
    });
    count.val(parseInt(count.val())+1);
  </script>
</body>
{% endblock %}